.dog-profile-container {
  padding: 200px 20px 20px 20px;
}

.dog-section {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px; 
  box-sizing: border-box;
  min-height: calc(100vh - 80px - 40px);
}

.dog-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--black);
  font-family: 'Pretendard', sans-serif;
  margin: 0;
}

.dog-profile {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  padding: 0 20px;
}

.dog-title-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px; 
  width: 100%;
  max-width: 1000px;  
  padding: 0 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.dog-filter-group {
  display: flex;
  gap: 30px;
}

.dog-filter-dropdown {
  position: relative;
  cursor: pointer;
}

.dog-filter-button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dog-filter-text {
  color: var(--black);
  font-size: 16px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
}

.dog-filter-icon {
  width: 15px;
  height: auto;
}

.dog-dropdown-options {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: white;
  border: 0.5px solid black;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
}

.dog-dropdown-option {
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  color: black;
}

.dog-dropdown-option:hover {
  background-color: #f0f0f0;
}

.no-dog-message {
    text-align: center;
    width: 100%;
    margin-top: 50px;
    font-size: 18px;
    color: #666;
}