:root {
  --primary: #F77B1C;
  --black: #000000;
  --white: #FFFFFF;
  --gray100: #E8E8E8;
  --gray200: #DBDBDB;
  --gray300: #D1D1D1;
  --gray400: #ADADAD;
  --gray500: #A6A6A6;
  --gray600: #797979;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--white); 
  color: var(--black); 
  font-family: 'Pretendard', sans-serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}